<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IServiceAdmin"
                receiveTimeout="01:00:00"
                sendTimeout="01:00:00"
                maxBufferSize="2000000000"
                maxReceivedMessageSize="2000000000">

                <readerQuotas
                    maxDepth="2000000000"
                    maxStringContentLength="2000000000"
                    maxArrayLength="2000000000"
                    maxBytesPerRead="2000000000"
                    maxNameTableCharCount="2000000000" />
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8088/MovieService/Ep1" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceAdmin" contract="ServiceReference1.IServiceAdmin"
                name="BasicHttpBinding_IServiceAdmin" />
        </client>
    </system.serviceModel>
</configuration>